
	<div class="card mt-5 tar cuadroGeneral"> 
		<p class="card-header header ColorBarra">
			<i class="fas fa-list" style="color: aliceblue;"></i>
			<b class="font text-light ml-2">Tipo Proyecto</b>
		</p>
		<div class="card-body text-center">

			<div class="row">
				<div class="col-md-6">
						<div class="form-check">
							<input class="form-check-input chek" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" routerLink="/cnt" checked>
							<label class="form-check-label  ml-1 labeltxt">
								Construcción En Nuevos Terrenos
							</label>
						</div>
				</div>
				
				<div class="col-md-6">
						<div class="form-check">
							<input class="form-check-input chek" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
							<label class="form-check-label  ml-1 labeltxt">
								Mega Proyecto
							</label>
						</div>
				</div>
			</div>

	  	</div>
	</div>

	<h5>
		<span class="badge badge-primary ColorBarra tar mt-4 d-flex justify-content-center cuadroGeneral">
		Proyecto	
		</span>
	</h5>

	<app-formu-entidad></app-formu-entidad>

	<app-informacion-general></app-informacion-general>

	<app-avance-obra></app-avance-obra>

	<app-terreno></app-terreno>

	<app-emplazamiento></app-emplazamiento>

	<app-iasistencia-tecnica></app-iasistencia-tecnica>

	<app-habilitacion-excep></app-habilitacion-excep>

	<app-vivienda></app-vivienda>

	<app-evaluacion></app-evaluacion>

	<br>

