<div class="card mt-4 tar cuadroGeneral">
    <p class="card-header ColorBarra header ">
        <i class="fas fa-list" style="color: aliceblue;"></i>
        <span class="text-light ml-2">
            <b class="font">Aportes adicionales</b>
        </span>
    </p>
    <div class="card-body">

    	<div class="alert alert-info" role="alert">
			<label class="font">(*) si el campo es editable, el dato es obligatorio.</label>
  		</div>

        <div class="card cuadro"> 
            <div class="card-body">
                <form>

                    <table class="table table-bordered text-center  table-sm">
                        <thead class="ColorBarra"> 
                            <tr>
                                <th scope="col" class="fontTable">Monto Aporte (*)</th>
                                <th scope="col" class="fontTable">Tipo Aporte (*)</th>
                                <th scope="col" class="fontTable">Tipo Fuente (*)</th>
                                <th scope="col" class="fontTable">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">No se han ingresado aportes adicionales</td>
                            </tr>
                        </tbody>
                    </table>

                </form>
                <button type="button" class="btn btn-primary ColorBarra" style="margin-left: 84%;">
                	Nuevo aporte adicional
                </button>
					

				<div class=" container d-flex flex-row-reverse bd-highlight mt-4">
				  <div class="p-2 bd-highlight">
				  	<b class="font">TOTAL APORTE</b> 
				      <input type="number" class="form-control" id="" placeholder="">
                  </div>
                    
				</div>
            </div>
        </div>
        <div class="card-body mt-0">
            <div class=" container d-flex flex-row-reverse bd-highlight ">
              <div class="p-2 bd-highlight">
                  <b class="font">Valor vivienda</b> <input type="number" class="form-control" id="" placeholder="">
              </div>
            </div>
        </div>
    </div>
</div>