.cuadro{
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; 
} 

.cuadroGeneral{
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
  border-radius: 6px;
} 

.ColorBarra{
  background-color: #3f79b7; 
}

agm-map{
	height: 300px;
}