    <div class="card mt-4 tar cuadroGeneral">
        <p class="card-header ColorBarra header">
          <i class="fas fa-list" style="color: aliceblue;"></i>
          <b><span class="text-light ml-2">Emplazamiento</span></b>
        </p>
        <div class="card-body">

        <div class="alert alert-info" role="alert">
		  <label class="font">- (*) Indica campos obligatorios.</label>
		  <br>
		  <label class="font">- Debe seleccionar al menos una de las opciones de tipo de emplazamiento (**).</label>
		</div>

    
          <form class="mt-4">
          	
			<div class="custom-control custom-switch">
			  <input type="checkbox" class="custom-control-input" id="customSwitch1">
			  <label class="custom-control-label" for="customSwitch1">Descontaminación Atmosférica</label>
			</div>

			<div class="form-group mt-3" style="width: 550px;">
               <b class="font">Zona (*):</b>
               <select class="form-control" id="region">
                 <option>Área urbana o extensión, mayor a 5.000 y menor a 40.000 habitantes</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
               </select>
            </div>  

            <div class="row mt-4">
            	<div class="col-md-4 d-flex justify-content-center">
            		<div class="form-check form-check-inline">
					  <input class="form-check-input chek" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					  <label class="form-check-label" for="inlineRadio1">
					  	<b class="font">Base (**)</b>
					  </label>
					</div>
            	</div>

            	<div class="col-md-4 d-flex justify-content-center">
            		<div class="form-check form-check-inline">
					  <input class="form-check-input chek" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					  <label class="form-check-label" for="inlineRadio2">
					  	<b class="font">Localización (**)</b>
					  </label>
					</div>
            	</div>

            	<div class="col-md-4 d-flex justify-content-center">
            		<div class="form-check form-check-inline">
					  <input class="form-check-input chek" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
					  <label class="form-check-label" for="inlineRadio3">
					  	<b class="font">Factibilización (**)</b>
					  </label>
					</div>
            	</div>
            </div>

          </form>

          <div class="card mt-4 tarconten cuadro">
				<p class="card-header ColorBarra header font">
				    <b><span class="text-light">Factores de factibilización</span></b>
				 </p>
				<div class="card-body">
				    <form>

				    	<b class="font">Cumple:</b>

				    	<div class="form-check mt-2">
						  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						  <label class="form-check-label font text-danger" for="defaultCheck1">
						    1._ El proyecto se encuentra emplazado en un territorio con servicios sanitarios en a lo menos un 50% de su superficie.
						  </label>
						</div>

						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						  <label class="form-check-label font text-danger" for="defaultCheck2">
						    2._ El proyecto deslinda con una vía local o rango superior existente.
						  </label>
						</div>

						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						  <label class="form-check-label font text-danger" for="defaultCheck2">
						    3._ El proyecto cuenta con establecimiento educacional de pre-básica y básica a menos de 1.000 metros.
						  </label>
						</div>

						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						  <label class="form-check-label font text-danger" for="defaultCheck2">
						    4._ El proyecto cuenta con establecimiento de salud primaria o superior a menos de 2.500 metros
						  </label>
						</div>

						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						  <label class="form-check-label font text-danger" for="defaultCheck2">
						    5._ El proyecto cuenta con al menos una vía de transporte publico a lo menos 500 metros.
						  </label>
						</div>

						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						  <label class="form-check-label font text-danger" for="defaultCheck2">
						    6._ El proyecto cuenta con equipamiento comercial, deportivo o cultural según los artículos 2.1.33 y 2.1.36 de la OGUC, a lo menos 2.500 metros.
						  </label>
						</div>

						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						  <label class="form-check-label font text-danger" for="defaultCheck2">
						    7._ El proyecto cuenta con área verdes con una superficie igual o mayor a 5.000 metros y a lo menos a una distancia no mayor de 1.000 metros.
						  </label>
						</div>

				    </form>
				</div>
		  </div>

        </div>
      </div>
