<div class="card mt-4 tar cuadroGeneral">
  <p class="card-header ColorBarra header ">
    <i class="fas fa-list" style="color: aliceblue;"></i>
    <span class="text-light ml-2">
      <b class="font">Tipo Postulación</b>
    </span>
  </p>
  <div class="card-body"> 

    <div class="alert alert-info" role="alert">
      <label class="font">(*) si el campo es editable, el dato es obligatorio.</label>
    </div>

    <div class="card-body">
      <div class="card tar" style="border:none;">
        <form class="mt-3 ml-5">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <b class="font">Tipo postulación:</b>
                <select class="form-control" id="region" style="width: 80%;">
                  <option></option>
                  <option></option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <b class="font">Código proyecto:</b>
                <input type="number" class="form-control" id="proyecto" placeholder="" style="width: 80%;">
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
          <div class="form-check mt-4" style="margin-left: 92%;">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label font" for="defaultCheck1">
                            V° B°
            </label>
          </div>
  </div>
</div>

