<div class="card mt-4 tar cuadroGeneral">
    <p class="card-header ColorBarra header ">
      <i class="fas fa-list" style="color: aliceblue;"></i>
      <span class="text-light ml-2">
        <b class="font">Habilitación Excepcional</b>
      </span>
    </p>
    <div class="card-body">

    	<div class="alert alert-info" role="alert">
		  <label class="font">- En la presente sección se pueden agregar las resoluciones del Director Serviu que facultan la calificación de proyectos cuyas obras superan los recursos señalados para estos efectos en el reglamento. (Inciso 4° letra h, artículo 35 del D.S. N°49).</label>
		  <br>
		  <label class="font">- Una vez guardado el proyecto, las resoluciones ingresadas se prorratearán en los tipos de vivienda.</label>
		</div>

		<!--<b class="font text-danger">- En la presente sección se pueden agregar las resoluciones del Director Serviu que facultan la calificación de proyectos cuyas obras superan los recursos</b>
		<br>
		<b class="font text-danger">señalados para estos efectos en el reglamento. (Inciso 4° letra h, artículo 35 del D.S. N°49)</b>
		<br>
		<b class="font text-danger">- Una vez guardado el proyecto, las resoluciones ingresadas se prorratearán en los tipos de vivienda.</b>-->
    
        <form>

        	<table class="table table-bordered text-center mt-4 table-sm">
			  <thead class="ColorBarra">
			    <tr>
			      <th scope="col" class="fontTable">N°</th>
			      <th scope="col" class="fontTable">N° Resolución</th>
			      <th scope="col" class="fontTable">Fecha Resolución</th>
			      <th scope="col" class="fontTable">Monto UF</th>
			      <th scope="col" class="fontTable">Monto Utilizado UF</th>
			      <th scope="col" class="fontTable">Acciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
					<td colspan="6">Sin resoluciones de habilitación excepcional asociadas al proyecto.</td>
			    </tr>
			  </tbody>
			</table>

       </form>

    </div>
  </div>

