<div class="card mt-4 tar cuadroGeneral">
  <p class="card-header ColorBarra header ">
    <i class="fas fa-list" style="color: aliceblue;"></i>
    <span class="text-light ml-2">
      <b class="font">Ahorro</b>
    </span>
  </p>
  <div class="card-body">
    <div class="alert alert-info" role="alert">
      <label class="font">(*) si el campo es editable, el dato es obligatorio.</label>
    </div>

    <div class="card tar" style="border:none;">

	    <form>
	      <div class="row">
	        <div class="col-md-6">
	          <div class="form-group">
	            <b class="font">Entidad Financiera (*):</b>
	            <select class="form-control" id="region">
	              <option></option>
	              <option>Banco Santander</option>
	              <option>Banco de Chile</option>
	              <option>Caja de los Andes</option>
	              <option>Banco Estado</option>
	            </select>
	          </div>

	          <div class="form-group">
	            <b class="font">Monto UF mes (*):</b>
	            <input type="number" class="form-control" id="proyecto" placeholder="">
	          </div>

	          <div class="form-group">
	            <b class="font">Fecha de apertura de la cuenta (*):</b>
	            <input type="date" name="bday" min="1000-01-01" max="3000-12-31" class="form-control">
	          </div>
	        </div>

	        <div class="col-md-6">
	          <div class="form-group">
	            <b class="font">Número de cuenta (*):</b>
	            <input type="number" class="form-control" id="proyecto" placeholder="">
	          </div>

	          <div class="form-group">
	            <b class="font">Monto UF día (*):</b>
	            <input type="number" class="form-control" id="codigo" placeholder="">
	          </div>
	        </div>
	      </div>
	    </form>
	    <br>

	    <form>
	      <div class="row">
	        <div class="col-md-6">
	          <div class="form-group">
	            <b class="font">Ahorro minimo reglamentario UF:</b>
	            <input type="number" class="form-control" id="proyecto" placeholder="">
	          </div>

	          <div class="form-group">
	            <b class="font">Ahorro adicional comprometido UF:</b>
	            <input type="number" class="form-control" id="proyecto" placeholder="">
	          </div>

	          <div class="form-group">
	            <b class="font">Ahorro total comprometido UF:</b>
	            <input type="number" class="form-control" id="proyecto" placeholder="">
	          </div>
	        </div>

	        <div class="col-md-6">
	          <div class="form-group">
	            <b class="font">Ahorro mínimo tipología UF:</b>
	            <input type="number" class="form-control" id="proyecto" placeholder="">
	          </div>

	          <div class="form-group">
	            <b class="font">Subsidio premio UF:</b>
	            <input type="number" class="form-control" id="codigo" placeholder="">
	          </div>
	        </div>
	      </div>
	    </form>

	</div>

    <div class="card mt-4 tar cuadro">
      <p class="card-header ColorBarra header font">
        <b><span class="text-light">Exención</span></b>
      </p>
      <div class="card-body">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="defaultCheck2">
          <label for="defaultCheck2">Exención ahorro</label>
        </div>

        <div class="form-check ">
          <input class="form-check-input" type="checkbox" id="defaultCheck2">
          <label for="defaultCheck2">Condición especial de ahorro por resolución</label>
        </div>
 
      </div>
    </div>

    <div class="form-check mt-4" style="margin-left: 92%;">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label font" for="defaultCheck1">
                        V° B°
        </label>
      </div> 

  </div>
</div>

