<div class="card mt-4 tar cuadroGeneral">
    <p class="card-header ColorBarra header">
      <i class="fas fa-list" style="color: aliceblue;"></i>
      <b><span class="text-light ml-2">Incrementos Asistencia Técnica</span></b>
    </p>
    <div class="card-body">
		 
		<div class="card-columns">

		  <div class="card cuadro">

		  	<p class="card-header headerET text-center ColorBarra text-light font">
		      <b>
		      	<span>
		      		Obras de eficiencia energética
		  	    </span>
		  	  </b>
		    </p>

		    <div class="card-body">
				<form>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label font" for="defaultCheck1">
								Instalación de sistemas solares térmicos
						 </label>
					</div>

					<div class="form-check mt-3">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						<label class="form-check-label font" for="defaultCheck2">
						   	Instalación de paneles fotovoltaicos
						</label>
					</div>
		       	</form>
		    </div>
		  </div>

		  <div class="card cuadro">

		  	<p class="card-header headerET text-center ColorBarra text-light font">
		      <b>
		      	<span>
		      		Exploración geotécnica / Clasificación en suelos salinos
		  	    </span>
		  	  </b>
		    </p>

		    <div class="card-body">
				<form>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label font" for="defaultCheck1">
								Ensayo de penetración estándar (SPT)
						 </label>
					</div>

					<div class="form-check mt-3">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						<label class="form-check-label font" for="defaultCheck2">
						   	Medición de ondas superficiales
						</label>
					</div>
		       	</form>
		    </div>
		  </div>

		  <div class="card cuadro">

		  	<p class="card-header headerET text-center ColorBarra text-light font">
		      <b>
		      	<span>
		      		Exploración geotécnica / Clasificación sísmica de los suelos
		  	    </span>
		  	  </b>
		    </p>

		    <div class="card-body">
				<form>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label font" for="defaultCheck1">
								Calicatas de 4m de profundidad
						 </label>
					</div>

					<div class="form-check mt-3">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
						<label class="form-check-label font" for="defaultCheck2">
						   	Perfiles de salinidad
						</label>
					</div>
		       	</form>
		    </div>
		  </div>

		</div>
			
    </div>
  </div>
