
    <div class="card mt-5 tar cuadroGeneral">
        <p class="card-header ColorBarra header ">
          <i class="fas fa-list" style="color: aliceblue;"></i>
          <span class="text-light ml-2">
            <b class="font">Datos Generales</b>
          </span> 
        </p> 
        <div class="card-body">

            <div class="alert alert-info" role="alert">
                <label class="font">- Para el presente formulario, los datos abligatorios que no hayan sido ingresados serán
                        resaltados con un asterisco (*) a la derecha del campo.</label>
                <br>
                <label class="font">- En algunos casos puede aparecer un doble asterisco (**) o triple asterisco (***) lo que
                        indica que se ha ingresado información en un formato incorrecto o fuera del rango permitido.</label>
                <br>
                <label class="font">- Para poder apreciar el detalle del formato, se debe posicionar el mouse sobre el (**) o
                        el (***) donde aparecera un mesaje indicando el detalle del error.</label>
            </div>
              
            <div class="card tar" style="border:none;">
                  <form>
                        <div class="form-group">
                         <b class="font">N° viviendas</b>
                         <input type="text" class="form-control" id="viviendas" placeholder="" style="width: 100px;">
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                    <b class="font">Código personalidad jurídica (*):</b>
                                    <input type="text" class="form-control" id="juridica" placeholder="">
                            </div> 
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <b class="font">Personalidad jurídica (*):</b>
                                <input type="text" class="form-control" id="persoJuridica" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Proyecto">
                        <label class="custom-control-label" for="Proyecto">SEREMI autoriza menos de 10 viviendas.</label>
                    </div>
                  </form>
            </div>
        </div>

    </div>