<div class="card mt-4 tar cuadroGeneral">
    <p class="card-header ColorBarra header ">
        <i class="fas fa-list" style="color: aliceblue;"></i>
        <span class="text-light ml-2">
            <b class="font">Subsidios</b>
        </span>
    </p>
    <div class="card-body">

        <div class="alert alert-info" role="alert">
            <label class="font">- Si el monto ingresado en cualquiera de los subsidios, superan el monto
                establecido en el D.S. N°49, dichos montos no serán considerados, quedando en cero de manera automática
                al guardar.</label>
        </div>

        <div class="card cuadro"> 
        <div class="card-body">
        <table class="table table-bordered mb-2 mt-1">
            <tbody>
                <tr>
                    <td>Subsidio base según emplazamiento</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                    <td>Subsidio premio al ahorro</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                </tr>
                <tr>
                    <td>Subsidio altura</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                    <td>Subsidio grupo familiar</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                </tr>
                <tr>
                    <td>Subsidio de discapacidad,
                        Movilidad reducida
                    </td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                    <td>Subsidio equipamiento</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                </tr>
                <tr>
                    <td>Subsidio habilitación</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                    <td>Subsidio habitación adicional</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                </tr>
                <tr>
                    <td>Subsidio diferenciado a la localización</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                    <td>Subsidio localidades aislados</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                </tr>
                <tr>
                    <td>Subsidio diferenciado a la localización</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                    <td>Subsidio factibilización</td>
                    <td><input type="number" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                </tr>
                <tr>
                    <td>Habilitación excepcional</td>
                    <td><input type="text" class="form-control" id="" placeholder="UF." style="width: 60%;"></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered mb-2 mt-4">
            <tbody>
                <tr>
                    <td colspan="3">TOTAL SUBSIDIO</td>
                    <td><input type="number" class="form-control" id="" placeholder="" style="width: 20%;"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
    </div>
</div>
