<div class="card mt-4 tar cuadroGeneral">
        <p class="card-header ColorBarra header">
          <i class="fas fa-list" style="color: aliceblue;"></i>
          <b><span class="text-light ml-2">Información Contacto</span></b>
        </p>
        <div class="card-body">
                <div class="alert alert-info" role="alert">
                    <label class="font">(*) si el campo es editable, el dato es obligatorio.</label>
                    <br>
                    <label class="font">(**) se debe especificar un número telefónico o e-mail de contacto.</label>
                </div> 
            
             <div class="card tar" style="border:none;">
                <form>
                <div class="row">
                    <div class="col-md-6">

                            <div class="form-group mt-3">
                                    <b class="font">Región (*):</b>
                                    <select class="form-control" id="region">
                                         <option>Seleccioné</option>
                                        <option></option>
                                        <option></option>
                                    </select> 
                            </div> 

                            <div class="form-group mt-3">
                                <b class="font">Comuna (*):</b>
                                <select class="form-control" id="region">
                                     <option>Seleccioné</option>
                                    <option></option>
                                    <option></option>
                                </select> 
                            </div>
                            
                            <div class="form-group">
                                <b class="font">Villa / población:</b>
                                <input type="text" class="form-control" id="nombre" placeholder="">
                            </div>

                            <div class="form-group">
                                <b class="font">Calle (*):</b>
                                <input type="text" class="form-control" id="nombre" placeholder="">
                            </div>

                            
                            <div class="form-group">
                                <b class="font">Block:</b>
                                <input type="text" class="form-control" id="nombre" placeholder="">
                            </div>
    
                                                       
                            <div class="form-group">
                                <b class="font">Telefono Domicilio (**):</b>
                                <input type="text" class="form-control" id="nombre" placeholder="">
                            </div>

                    </div>

                    <div class="col-md-6" style="margin-top:79px;">

                            <div class="form-group mt-3">
                                <b class="font">Provincia (*):</b>
                                <select class="form-control" id="region">
                                    <option>Seleccioné</option>
                                    <option></option>
                                    <option></option>
                                </select> 
                            </div>
                            
                            <div class="form-group">
                                <b class="font">Número (*):</b>
                                <input type="text" class="form-control" id="nombre" placeholder="">
                            </div>

                            <div class="form-group">
                                <b class="font">Departamento:</b>
                                <input type="text" class="form-control" id="nombre" placeholder="">
                            </div>

                            
                            <div class="form-group">
                                <b class="font">Celular (**):</b>
                                <input type="text" class="form-control" id="nombre" placeholder="">
                            </div>

                            <div class="form-group">
                                <b class="font">E-Mail (**):</b>
                                <input type="text" class="form-control" id="nombre" placeholder="">
                            </div>

                    </div>
                </div> 
                </form>
            </div>

        </div>
</div>
    