<div class="card mt-4 tar cuadroGeneral">
        <p class="card-header ColorBarra header">
          <i class="fas fa-list" style="color: aliceblue;"></i>
          <b><span class="text-light ml-2">Vulnerabilidad</span></b>
        </p>
        <div class="card-body">

                    
                 <div class="card tar" style="border:none;">
                    <form>
                        <div class="row">
                            <div class="col-md-6">

                                    <div class="form-group">
                                        <b class="font">Instrumento de Caracterización:</b>
                                        <input type="text" class="form-control" id="nombre" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <b class="font">Folio:</b>
                                        <input type="date" name="bday" max="3000-12-31"  min="1000-01-01" class="form-control">
                                    </div>

                                    <div class="form-group mt-3">
                                        <b class="font">Región:</b>
                                        <select class="form-control" id="region">
                                            <option>Seleccioné</option>
                                            <option></option>
                                            <option></option>
                                        </select> 
                                    </div>
                                    
                                    <div class="form-group mt-3">
                                        <b class="font">Provincia:</b>
                                        <select class="form-control" id="region">
                                                <option>Seleccioné</option>
                                                <option></option>
                                                <option></option>
                                            </select> 
                                    </div>
                                    
                                    
                                    <div class="form-group mt-3">
                                        <b class="font">Provincia:</b>
                                        <select class="form-control" id="region">
                                            <option>Comuna:</option>
                                            <option></option>
                                            <option></option>
                                        </select> 
                                    </div>
                                    
                                    <div class="form-group mt-3">
                                        <b class="font">% de CSE:</b>
                                        <select class="form-control" id="region">
                                            <option>Comuna:</option>
                                            <option></option>
                                            <option></option>
                                        </select> 
                                    </div> 

                                    
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label font" for="defaultCheck1">
                                            Presenta certificado de inhabilidad
                                        </label>
                                    </div>

                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label font" for="defaultCheck1">
                                            Indicador Allegamiento
                                        </label>
                                    </div>

                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label font" for="defaultCheck1">
                                            Indicador Tipo Vivienda
                                        </label>
                                    </div>

                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label font" for="defaultCheck1">
                                            Indicador Eliminación Excretas
                                        </label>
                                    </div>

                            </div>

                            <div class="col-md-6">
                                    <div class="form-group">
                                        <b class="font">Fecha Nacimiento (*):</b>
                                        <input type="date" name="bday" max="3000-12-31"  min="1000-01-01" class="form-control">
                                    </div>

                                <div class="form-group">
                                    <b class="font">Calle:</b>
                                    <input type="text" class="form-control" id="nombre" placeholder="">
                                </div>

                                <div class="form-group">
                                    <b class="font">Número:</b>
                                    <input type="text" class="form-control" id="nombre" placeholder="">
                                </div>

                                <div class="form-group">
                                    <b class="font">Block:</b>
                                    <input type="text" class="form-control" id="nombre" placeholder="">
                                </div>

                                
                                <div class="form-group">
                                    <b class="font">Departamento:</b>
                                    <input type="text" class="form-control" id="nombre" placeholder="">
                                </div>

                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label font" for="defaultCheck1">
                                        Chile Solidario
                                    </label>
                                </div>

                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label font" for="defaultCheck1">
                                        Indicador Hacinamiento
                                    </label>
                                </div>

                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label font" for="defaultCheck1">
                                        Indicador Agua
                                    </label>
                                </div>
            
                            </div>
                        </div> 
                    </form>
                </div>


            <div class="card mt-4 tar cuadro">
                    <p class="card-header ColorBarra header font">
                      <b><span class="text-light">Exención</span></b>
                    </p>
                    <div class="card-body">
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label font" for="defaultCheck1">
                                        Exención % de CSE:
                                </label>
                            </div>
                       </form>
                    </div>
            </div>

                <div class="form-check mt-4" style="margin-left: 92%;">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label font" for="defaultCheck1">
                      V° B°
                    </label>
                </div> 
        </div>
</div>
    
