<div class="card mt-4 tar cuadroGeneral mb-4">
        <p class="card-header ColorBarra header ">
          <i class="fas fa-list" style="color: aliceblue;"></i>
          <span class="text-light ml-2">
            <b class="font">Exenciones</b>
          </span> 
        </p>
        <div class="card-body">

          <div class="card tar" style="border:none;">    
              <form> 


                <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="exenciones">
                        <label class="custom-control-label" for="exenciones">Se exime de porcentaje 70% y 30%.</label>
                </div>
          
                <div class="form-row mt-3">
                  <div class="col-md-6">
                    <b class="font">N° de resolución: </b>
                    <input type="text" class="form-control" id="reso1" placeholder="">
                  </div>
                  <div class="col-md-6">
                    <b class="font">Fecha de resolución: </b>
                    <input type="date" name="bday" max="3000-12-31"  min="1000-01-01" class="form-control">
                  </div>
                </div>
          

                <div class="custom-control custom-switch mt-4">
                    <input type="checkbox" class="custom-control-input" id="exenciones2">
                    <label class="custom-control-label" for="exenciones2">Se exime de tener personalidad jurídica.</label>
                </div>
          
                <div class="form-row mt-3">
                  <div class="col-md-6">
                    <b class="font">N° de resolución: </b>
                    <input type="text" class="form-control" id="reso2" placeholder="">
                  </div>
                  <div class="col-md-6">
                    <b class="font">Fecha de resolución: </b>
                    <input type="date" name="bday" max="3000-12-31"  min="1000-01-01" class="form-control">
                  </div>
                </div>
              </form>
          </div>
          
        </div>  
</div>
