<div class="card mt-4 tar cuadroGeneral">
  <p class="card-header ColorBarra header ">
    <i class="fas fa-list" style="color: aliceblue;"></i>
    <span class="text-light ml-2">
      <b class="font">Tipo vivienda</b>
    </span>
  </p>
  <div class="card-body"> 

    <div class="alert alert-info" role="alert">
      <label class="font">(*) si el campo es editable, el dato es obligatorio.</label>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <b class="font">Tipo vivienda (*):</b>
              <select class="form-control" id="vivienda">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
            <app-modal></app-modal>
        </div>
      </form>
    </div>
      <div class="form-check mt-2" style="margin-left: 92%;">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label font" for="defaultCheck1">
                        V° B°
        </label>
      </div> 
  </div>
</div>
