<div class="card mt-4 tar cuadroGeneral">
    <p class="card-header ColorBarra header ">
        <i class="fas fa-list" style="color: aliceblue;"></i>
        <span class="text-light ml-2">
            <b class="font">Financiamiento</b>
        </span>
    </p>
    <div class="card-body">

        <div class="card mt-2 tar cuadro">
            <p class="card-header header ColorBarra">
                <span class="text-light">
                    <b class="font">Ahorro</b>
                </span>
            </p>
            <div class="card-body">

                <table class="table table-bordered mb-2">
                    <tbody>
                        <tr>
                            <td colspan="4">Exento de ahorro mínimo</td>
                        </tr>
                        <tr>
                            <td>Ahorro mínimo (*)</td>
                            <td><input type="text" class="form-control" id="ahorro" placeholder="" ></td>
                            <td>Ahorro adicional</td>
                            <td><input type="text" class="form-control" id="ahorro" placeholder="UF."></td>
                        </tr>
                        <tr>
                            <td colspan="3">TOTAL AHORRO</td>
                            <td><input type="text" class="form-control" id="ahorro" placeholder=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>