<div class="card mt-4 tar cuadroGeneral">
        <p class="card-header ColorBarra header">
          <i class="fas fa-list" style="color: aliceblue;"></i>
          <b><span class="text-light ml-2">Grupo Familiar</span></b>
        </p>
        <div class="card-body">
            <form>
              <div class="table-responsive"> 
                <table class="table table-bordered table-sm text-center">
                    <thead class="ColorBarra"> 
                        <tr>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Apellido Paterno</label></th>
                            <th class="fontTable"rowspan="2"><label class="mb-4">Apellido Materno</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Nombres</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Rut</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Forma parte del núcleo</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Fecha Nac.</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Edad</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Relación de parentesco</label></th>
                            <th class="fontTable" colspan="2">Pers. con discapacidad</th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">CONADI</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Posee beneficio menor a 3 años</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Servicio Militar</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Cuerpo Bomberos</label></th>
                            <th class="fontTable" rowspan="2"><label class="mb-4">Funcionario Gendarmería</label></th>
                        </tr>
                        <tr>
                            <th class="fontTable"><label class="mb-4">Asociadas</label></th>
                            <th class="fontTable"><label>Sin Tipo de vivienda</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                             <label class="mt-3 font">ROMAN</label> 
                            </td>
                            <td>
                             <label class="mt-3 font">VICUNA</label>
                            </td>
                            <td>
                             <label class="mt-3 font">TULIO</label>
                            </td>
                            <td>
                             
                            </td>
                            <td>
                                <input class="form-check-input checkTable mt-4 ml-0" type="checkbox" value="" id="defaultCheck1" disabled>
                            </td>
                             <td>
                                <label class="mt-3 font">27/12/1946</label>
                            </td>
                            <td>
                              <label class="mt-3 font">73</label>
                            </td>
                            <td>
                                <div class="form-group mt-3">
                                    <select class="form-control" id="region">
                                        <option></option>
                                        <option></option>
                                    </select> 
                                </div>
                            </td>

                            <td>
                                <input class="form-check-input mt-4 ml-0" type="checkbox" value="" id="defaultCheck1" disabled>
                            </td>
                            
                            <td>
                                <input class="form-check-input mt-4 ml-0" type="checkbox" value="" id="defaultCheck1" disabled> 
                            </td>

                            <td>
                                <input class="form-check-input mt-4 ml-0" type="checkbox" value="" id="defaultCheck1" disabled>
                            </td>

                            <td>
                               <label class="mt-3 font">Si</label>
                            </td>

                            <td>
                                <input class="form-check-input mt-4 ml-0" type="checkbox" value="" id="defaultCheck1" disabled>
                            </td>

                            <td>
                                <input class="form-check-input mt-4 ml-0" type="checkbox" value="" id="defaultCheck1" disabled>
                            </td>
                            <td>
                                <input class="form-check-input mt-4" type="checkbox" value="" id="defaultCheck1" disabled >
                            </td>
                        </tr>
                    </tbody>
                </table>      
              </div>
           </form>
    
    
           <div class="card mt-4 tar cuadro">
                <p class="card-header ColorBarra header font">
                  <b><span class="text-light">Exención</span></b>
                </p>
                <div class="card-body">
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label font" for="defaultCheck1">
                                Exención más de una postulación por RSH:
                            </label>
                        </div>
          
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label font" for="defaultCheck2">
                                Exención restricción beneficio 3 año
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label font" for="defaultCheck2">
                                Exención de núcleo familiar.
                            </label>
                        </div>
                   </form>
                </div>
            </div>


                <div class="form-check mt-4" style="margin-left: 92%;">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label font" for="defaultCheck1">
                      V° B°
                    </label>
                </div> 
    
        </div>
      </div>
    