 <div class="card mt-4 tar cuadroGeneral">

      <p class="card-header ColorBarra header">
        <i class="fas fa-list" style="color: aliceblue;"></i>
        <span class="text-light ml-2">
         <b class="font">Información General</b>
        </span>
      </p>

      <div class="card-body">

      	<div class="alert alert-info" role="alert">
    		  <label class="font">- (*) Indica campos obligatorios.</label>
    		  <br>
    		  <label class="font">- El terreno no es obligatorio para guardar, pero si para generar CPC.</label>
    		</div>
          
          
          <div class="card tar" style="border:none;">
            <form>
           <div class="row">

              <div class="col-md-6">
    
                <div class="form-group">
                  <b class="font">N° viviendas</b>
                  <input type="number" class="form-control" id="viviendas" placeholder="" style="width: 100px;">
                </div>
    
                <div class="form-group">
                    <b class="font">Nombre del proyecto(*):</b>
                    <input type="email" class="form-control" id="proyecto"  placeholder="">
                </div>

                <div class="form-group">
                    <b class="font">Región(*):</b>
                    <select class="form-control" id="region">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <b class="font">Comuna:</b>
                    <select class="form-control" id="Comuna">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
    
              </div>
    
              <div class="col-md-6 inpuGeneral">
                  <div class="form-group">
                      <b class="font">Provincia(*):</b>
                      <select class="form-control" id="Provincia">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
          
                    <div class="form-group">
                        <b class="font">Código de proyecto:</b>
                        <input type="email" class="form-control" id="codigo"  placeholder="">
                    </div>
              </div>
              </div>

              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="Proyecto">
                <label class="custom-control-label" for="Proyecto">Proyecto Campamento</label>
              </div>
              
            </form>
          </div>
    
      </div>
</div>
