    <div class="card mt-4 tar cuadroGeneral">
        <p class="card-header ColorBarra header">
          <i class="fas fa-list" style="color: aliceblue;"></i>
          <b><span class="text-light ml-2">Avance Obra</span></b>
        </p>
        <div class="card-body">

          <div class="tar" style="border:none;">
              <form>

                <div class="row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <b class="font">Fecha inicio obra real:</b>
                          <input type="date" name="bday" max="3000-12-31"  min="1000-01-01" class="form-control">
                      </div>

                      <div class="form-group">
                          <b class="font">Fecha inicio obra programada:</b>
                          <input type="date" name="bday" min="1000-01-01" max="3000-12-31" class="form-control">
                      </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="form-group">
                        <b class="font">Fecha término obra real:</b>
                        <input type="date" name="bday" max="3000-12-31"  min="1000-01-01" class="form-control">
                    </div>

                    <div class="form-group">
                        <b class="font">Fecha inicio obra programada:</b>
                        <input type="date" name="bday" max="3000-12-31"  min="1000-01-01" class="form-control">
                    </div>
                  </div>
                    
                  <div class="col-md-4">
                      <div class="form-group">
                          <b class="font">% Avance obra:</b>
                          <input type="text" class="form-control" id="Avance" placeholder="">
                      </div>
                  </div>
                </div>

              </form> 
          </div>

        </div>
      </div>
