<div class="card mt-4 tar cuadroGeneral">
    <p class="card-header ColorBarra header">
      <i class="fas fa-list" style="color: aliceblue;"></i>
      <b><span class="text-light ml-2">Terreno</span></b>
    </p>
    <div class="card-body">
        <form>

        	<td><button type="button" class="btn btn-primary ColorBarra font">
        		<i class="fas fa-plus"></i>
			    Agregar Nuevo Terreno
			</button></td>	
          
			<table class="table table-bordered text-center mt-4 table-sm">
			  <thead class="ColorBarra">
			    <tr>
			      <th scope="col" class="fontTable">N°</th>
			      <th scope="col" class="fontTable">Rol</th>
			      <th scope="col" class="fontTable">Latitud</th>
			      <th scope="col" class="fontTable">Longitud</th>
			      <th scope="col" class="fontTable">Acciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row"></th>
			      <td></td>
			      <td></td>
			      <td></td> 
			      <td>
					  
					<button type="button" class="btn btn-primary ColorBarra"  routerLink="/terreno">
						<i class="fas fa-search"></i>
					</button>

				  </td>
			    </tr>
			  </tbody>
			</table>

       </form>


       <div class="card mt-4 tar cuadro">
		    <p class="card-header ColorBarra header">
		      <b class="font"><span class="text-light">Empresa constructora</span></b>
		    </p>
		    <div class="card-body">
		        <form>
					<div class="row">
						<div class="col-md-6">
						    <div class="form-group">
				              <b class="font">Rut empresa constructora seleccionada (*):</b>
				              <input type="text" class="form-control" placeholder="">
				            </div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
				              <b class="font">Nombre empresa constructora seleccionada (*):</b>
				              <input type="text" class="form-control" placeholder="">
				            </div>
						</div>
					</div>
					<div align="right">
						<button type="button" class="btn btn-primary ColorBarra">
							<i class="fas fa-search"></i>
							Búsqueda empresa
						</button>
					</div>
		       </form>
		    </div>
		</div>

    </div>
  </div>
