
<div class="card mt-4 tar cuadroGeneral">
        <p class="card-header ColorBarra header">
          <i class="fas fa-list" style="color: aliceblue;"></i>
          <b><span class="text-light ml-2">Observaciones</span></b>
        </p>
        <div class="card-body">
          <div class="form-group shadow-textarea">
            <textarea class="form-control" id="field" rows="5" maxlength="3000"></textarea>
          </div>
          <b class="font d-flex justify-content-center">3000 Caracteres restantes</b>
        </div>
</div>